.header {
  height: 90px;
  background-color: #fff;
  color: #565656;
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #565656;
  font-weight: 500;
  font-size: 0.875rem;
}

.link:hover {
  color: #ef4444;
}

.link2 {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #565656;
  font-weight: 500;
  font-size: 0.875rem;
}

.subLink {
  width: 100%;
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
}

@media (max-width: 640px) {
  .link,
  .link2 {
    height: 42px;
    width: 100%;
  }
}
